#about-us
{
    .banner
    {
        height: 70vh;
        background: url("../img/aboutus-banner.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        position: relative;

        .overlay 
        {
            @apply
            w-full
            h-full
            bg-slate-900
            bg-opacity-80
            -z-10;

        }
    }

    .mission-vision
    {
        .container
        {
            > .grid
            {
                grid-template-areas: 
                "text1 img"
                "text2 img";

                img 
                {
                    grid-area: img;
                }
            }
        }
    }

    .team 
    {
        .members 
        {
            .card 
            {
                @apply
                transition-all
                hover:border-transparent 
                hover:shadow-lg;
            }
        }
    }
}