#gallery
{
    .banner 
    {
        background: url("../img/gallery-banner.png");
        background-position: center;

    }

    #award-tab
    {
        img 
        {
        & + .overlay 
            {
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 60%, rgba(0, 0, 0, 1));
                @apply
                absolute
                inset-0
                transition-all;
            }
        }
    }
}